:root,
    [data-bs-theme=dark] {
    --bs-primary: #6BD9FF;
    --bs-primary-rgb: rgb(107, 217, 255);
    --bs-dark: #0a0f18;
    --bs-dark-rgb: rgb(10 15 24);
    --glow-color: #147BBA;
    --light-glow: #3BB2E8;
    }

    .btn-primary {
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-color: black;
    --bs-btn-hover-bg: #02c7a7;
    --bs-btn-hover-border-color: #02c7a7;
    --bs-btn-active-bg: #01b397;
    --bs-btn-active-border-color: #01b397;
    --bs-btn-disabled-bg: var(--bs-primary);
    --bs-btn-disabled-border-color: var(--bs-primary);
    }

:root {--bs-font-sans-serif: 'VT323', monospace;}
        h1, h5, th, .btn, button,.text-uppercase, .fw-bold, small {
            font-family: 'VT323', monospace !important;
        }

body {
    background-color: black;
    color: var(--bs-primary);
    text-shadow: 0 0 10px var(--light-glow), 0 0 25px var(--glow-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  .grid {
    display: grid;
    grid-template-columns: 2fr 1.5fr 2fr;
    grid-template-rows: auto 1fr auto 0.2fr;
    gap: 8px;
    height: 100vh;
    padding: 8px;
    box-sizing: border-box;
  }
  .block {
    border: 1px solid #233;
    background-color: var(--bs-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    letter-spacing: 1.2px;
  }
  .topbar {
    grid-column: 1 / 4;
  }
  .left-large {
    grid-row: 2 / 4;
  }
  .message {
    padding: 16px;
    align-items: flex-start;
    text-align: left;
    line-height: 1.5;
  }
  .message p {
    visibility: hidden;
    }

  .right-col {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    gap: 8px;
  }

  .right-col .block:nth-child(2) {
        position: relative;
    }

  #carte {
    width: 100%;
    height: 100%;
    min-height: 200px;
  }

  .bottom {
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
  }